*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --orange: #f2c14e;
    --winning-blocks: #2d414b;
}

body{
    color: var(--orange);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 50px;
    font-size: 54px;
    text-transform: uppercase;
    color: var(--orange);
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 40px;
    background: linear-gradient(180deg, rgb(253, 68, 0), purple);
    align-items: center;
    flex-direction: column;
}

.gamebox{
    width: 450px;
    display:flex;
    flex-wrap: wrap;
}

.div{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 5px solid;
    border-bottom: 5px solid;;
}

.div:nth-child(3n){
    border-right: 0px;
}

.div:nth-child(6) ~ .div{
    border-bottom: 0px;
}

button{
    padding: 10px 50px;
    border-radius: 10px;
    background-color: var(--orange); 
    margin: 50px; 
    color: #333;
    border-color: var(--orange);
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 18px;
    transition: 0.5s;
    font-weight: 600;
    cursor: pointer;
    /* border-right: 5px;
    border-bottom: 5px; */
}

button:hover{
    transform: translateY(-5px);
}